{% extends "base/base.html" %}
{% block content %}
<section class="auth-section">

    <div class="auth-box">
        <div class="auth-content">
            <h4 class="auth-title">Sign In</h4>
            <form method="POST">
                {% csrf_token %}
                {% include "base/alert.html" %}
                
                <div class="input-group">
                    <input name="email" class="input-field" placeholder="Email" type="text" required>
                </div>
                
                <div class="input-group">
                    <input name="password" class="input-field" placeholder="Password" type="password" required>
                </div>

                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" checked> Remember Me
                    </label>
                    <a href="#" class="forgot-link">Forgot Password?</a>
                </div>

                <button type="submit" class="btn-submit">Login</button>
            </form>
        </div>
    </div>

    <p class="text-center">Don't have an account? <a href="/accounts/register/" class="auth-link">Sign Up</a></p>

</section>
{% endblock %}
